.checkout-area{
    margin: 60px 0;
}
.checkout-area h4{
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #2a2a2a;
    font-weight: 400;
    margin-bottom: 30px;
}
.checkout-area label{
    font-size: 15px;
    color: #797979;
}
.checkout-area input,
.checkout-area select,
.checkout-area textarea{
    font-size: 13px;
}
.checkout-area textarea{
    min-height: 200px;
}
.checkout-area label span{
    color: #f00;
}

.checkout-area .order-place{
    padding: 30px;
    background-color: #f9f9f9;
    font-size: 12px;
}
.checkout-area .order-item-title{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
.checkout-area .order-item-title .total{
    float: right;
}
.checkout-area .order-item{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.checkout-area .order-item .product-name{
    text-transform: uppercase;
}
.checkout-area .order-item .product-qty{
    font-weight: 600;
}
.checkout-area .order-item .product-total{
    float: right;
}

.checkout-area .order-item .sub-total,
.checkout-area .order-item .shipping,
.checkout-area .order-item .total{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.checkout-area .order-item .s-total,
.checkout-area .order-item .p-shipping,
.checkout-area .order-item .p-total{
    font-size: 14px;
    font-weight: 600;
    float: right;
}

.checkout-area .terms{
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.checkout-area .terms input{
    position: absolute;
    top: 3px;
    left: -16px;
}
.checkout-area .terms a{
    color: #71cd14;
}
.checkout-area .c-btn{
    font-size: 12px;
    float: right;
    padding: 10px 10px;
    width: 100%;
}
