.contact-area{
    margin: 60px 0;
}
.contact-area h1{
    font-size: 26px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #2a2a2a;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact-area textarea,
.contact-area input{
    font-size: 14px;
}
.contact-area .contact-info{
    margin-top: 50px;
}
.contact-area .contact-content{
    overflow: hidden;
    margin-top: 10px;
}
.contact-area .icon {
    float: left;
}
.contact-area .icon i {
    font-size: 32px;
    margin-top: 5px;
    color: #ccc;
}
.contact-area .contact-details {
    float: left;
    margin-left: 10px;
}
.contact-area .contact-details h5{
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: .8px;
}
.contact-area .contact-details p{
    font-size: 14px;
    color: #999;
}