/* Start Global Style */
*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: capitalize;
}
.main-title{
    margin: 120px 0 50px;
    text-align: center;
}
.main-title h2{
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 27px;
}

.main-title p{
    font-size: 14px;
    color: #797979;
}

/* End Main Global Style */

/* Start Top Menu Style */
.header-area .top-menu{
    background-color: #f6f6f6;
    overflow: hidden;
    padding-top: 5px;
    height: 35px;
}

.header-area .top-menu .float-left p{
    display: inline-block;
}
.header-area .top-menu .float-left p:last-child,
.header-area .top-menu .float-right a:last-child{
    border-right: 0px;
}

.header-area .top-menu .float-left p,
.header-area .top-menu .float-right a{
    font-size: 10px;
    text-transform: uppercase;
    border-right: 1px solid #999;
    padding: 0 15px;
    margin: 0;
    letter-spacing: 1px;
    color: #4a4a4a;
    font-weight: 400;
    font-family: sans-serif;
}

.header-area .top-menu .float-right a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.header-area .top-menu .float-right a:hover{
    color: #71cd14;
}
/* End Top Menu Style */

/* Start Nav Bar Style */
.navbar{
    padding: 0 !important;
}
.header-area .navbar .nav .nav-item{
    margin-right: 45px;
}
.header-area .navbar .nav .nav-item:last-child{
    margin-right: 0px;
}

.header-area .navbar .nav .nav-item .nav-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 80px;
    color: #999;
    padding: 0px;
    font-family: Heebo, sans-serif;
    transition: all .3s ease-in-out;
}
.header-area .navbar .nav .nav-item .nav-link:hover{
    color: #71cd14;
}

.header-area .navbar .navbar-right .nav-item{
    margin-right: 0px;
}

.header-area .navbar .navbar-right .nav-item{
    margin-right: 25px;
}
.header-area .navbar .navbar-right .nav-item .nav-link{
    font-size: 17px;
    position: relative;
    color: #999;
}

.header-area .navbar .navbar-right .nav-item .fa{
    color: #999;
}

/* End Nav Bar Style */

.g-btn{
    border-radius: 5px;
    border: 1px solid #71cd14;
    background-color: #71cd14;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.g-btn:hover{
    border: 1px solid #71cd14;
    background-color: transparent;
    color: #71cd71;
}
.r-btn{
    border-radius: 5px;
    border: 1px solid crimson;
    background-color: crimson;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.r-btn:hover{
    border: 1px solid crimson;
    background-color: transparent;
    color: crimson;
}
.d-btn{
    border-radius: 5px;
    border: 1px solid #71cd14;
    background-color: #fff;
    color: #71cd14;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.d-btn:hover{
    border: 1px solid #71cd14;
    background-color: #71cd14;
    color: #fff;
}
.active{
    background-color: #71cd14 !important;
    color: #FFF;
}

.social-item-link{    
    background-color: #71cd14;
    padding: 10px 15px;
    margin-right: 15px;
    margin-top: 30px;
    display: inline-block;
    transition: all .3s ease-in-out;
    border: 1px solid #71cd14;
    cursor: pointer;
    color: #fff !important;
}
.social-item-link:hover{    
    background-color: transparent;
    color: #71cd14 !important;
    border: 1px solid #71cd14;
}
/* Start Product Item Style */
.product-item{
    border: 1px solid #f0f2f1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
 .product-item .product-img img{
    width: 100%;
}
.product-item .product-img {
    position: relative;
    overflow: hidden;
}
 .product-item .product-img .product-links{
    position: absolute;
    bottom: -100px;
    left: 50%;
    background-color: rgba(113, 205, 20, 0.4);
    width: 90%;
    transform: translate(-50%);
    padding: 7px 30px;
    transition: all .4s ease-in-out;
    text-align: center;
}
.product-item .product-img .product-links a{ 
    font-size: 17px;
    border: 1px solid #FFF;
    display: inline-block;
    border-radius: 50%;
    padding: 7px 12px;
    background-color: #FFF;
    margin-right: 10px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.product-item .product-img .product-links a:hover{ 
    border: 1px solid #71cd14;
    background-color: #71cd14;
    color: #FFF;
}

.product-item .product-img .product-links a:last-child{
    margin-right: 0 !important;
}

.product-item .product-content{
    margin: 20px;
}

.product-item .product-content h5{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.9px;
    color: #555;
    font-weight: 400;
    margin-bottom: 15px;
    transition: all .4s ease-in-out;
}
 .product-item:hover .product-content h5{
    color: #71cd14;
}
.product-item:hover .product-img .product-links{
    bottom: 0;
}
/* End Product Item Style */
/* Start Home Banner Style */

.banner-area{
    background-color:#f6f6f6;
    overflow: hidden;
}

.banner-area .banner-content .banner-title{
    margin: 65px 0;
}

.banner-area .banner-content .banner-title h2{
    font-size: 27px;
    font-weight: 400;
}
.banner-area .banner-content .banner-title p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.banner-area .banner-content .banner-links{
    margin: 100px 0;
}

.banner-area .banner-content .banner-links .item-link{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    transition: all .3s ease-in-out;
    pos
}

.banner-area .banner-content .banner-links .item-link:hover{
    color: #71cd14;
}

.banner-area .banner-content .banner-links .item-link::after{
    content: '/';
    font-size: 14px;
    margin: 0 10px;
}

.banner-area .banner-content .banner-links .item-link:last-child::after{
    display: none;
}



/* End Home Banner Style */
.cart[data-count]:after{    position: absolute;
    right: -60%;
    top: 25%;
    content: attr(data-count);
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 1em;
  }
/* Start login and Register Style */
.login a{
    display: inline-block;
    text-transform: capitalize !important;
    font-size: 14px !important;    
}
.login span{
    color: #71cd14;   
    text-transform: lowercase;
}
/* end login and register style */
/* Strart Footer Style */ 

.footer-area{
    background-color: #0d0d1f;
    color: #FFF;
}

.footer-area .footer-content{
    padding: 60px 0;
}
.footer-area .footer-content h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
.footer-area .footer-content p{
    margin: 25px 0;
    letter-spacing: 1px;
}
.footer-area .footer-content input{
    width: 300px;
    height: 50px;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border: none;
    padding: 0 10px;
}

.footer-area .footer-content button{
    border: 1px solid #71cd14;
    background-color: #71cd14;
    color: #FFF;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-left: -35px;
}

.footer-area .footer-content button:hover{
    opacity: 70%;
}


.footer-area .footer-content .terms{ 
    display: block;
    margin: 60px 0 0;
    color: #FFF;
}

/* End Footer Style */
/* End Global Style */
