/* Start Product Detail Style */
.product-detail-area{
    margin: 120px 0 80px;
    overflow: hidden;
}

.product-detail-area .s_product_img .carousel {
    position: relative
}

.product-detail-area .s_product_img .carousel .carousel-indicators {
    margin: 0px;
    right: 20px;
    width: auto;
    left: auto;
    bottom: 30px
}

.product-detail-area .s_product_img .carousel .carousel-indicators li {
    height: 60px;
    width: 60px;
    background: transparent;
    text-indent: 0;
    margin-right: 10px;
    position: relative
}

.product-detail-area .s_product_img .carousel .carousel-indicators li:after {
    display: none
}
.product-detail-area .s_product_img .carousel .carousel-indicators li:before {
    content: "";
    background: rgba(197, 50, 45, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0
}

.product-detail-area .s_product_img .carousel .carousel-indicators li.active:before {
    opacity: 1
}
.product-detail-area .product-detail-content{
    margin-top: 50px;
    margin-left: 100px;
}
.product-detail-area .product-detail-content h3{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    text-transform: uppercase;
}
.product-detail-area .product-detail-content h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.product-detail-area .product-detail-content > span{
    margin-bottom: 30px;
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: #71cd14;
}
.product-detail-area .product-detail-content > p{
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: .9px;
    font-size: 14px;
}
.product-detail-area .product-detail-content > p a{
    color: #999;
    margin-left: 30px;
}
.product-detail-area .product-detail-content > p a:hover{
    color: #71cd14;
}
.product-detail-area .product-detail-content > p span{
    color: #71cd14;
    margin-left: 25px;
}
.product-detail-area .product-detail-content hr{
    margin: 20px 0 40px;
    color: #999;
}
.product-detail-area .product-detail-content p:last-of-type{
    color: #888;
    line-height: 2;
    margin-bottom: 40px;
}

.product-detail-area .product-detail-content label{
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: .9px;
    font-size: 15px;
}
.product-detail-area .product-detail-content .g-btn{
    margin-top: 18px;
    padding: 10px 50px;
}

.product-detail-area .product-detail-content .heart-btn{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: all .4s ease-in-out;
}

.product-detail-area .product-detail-content .heart-btn:hover{
    box-shadow: -10px 10px 27px -14px #000;
}

.product-detail-area .product-description-area{
    border: 1px solid #f6f6f6;
    margin: 60px 0 0;
}

.product-detail-area .product-description-area .tab-links{
    background-color: #f6f6f6;
    padding: 15px;
    text-align: center;
}

.product-detail-area .product-description-area .tab-links .tab-link{
    background-color: #fff;
    padding: 10px 30px;
    border: 1px solid #eee;
    font-size: 14px;
    cursor: pointer;
}
.product-detail-area .product-description-area .tabcontent{
    margin: 40px;
    line-height: 1.9;
    font-size: 14px;
    letter-spacing: .9px;
    display: none;
}
.related-product{
    margin-bottom: 40px;
}
.related-product .title{
    text-align: center;
    margin-bottom: 60px;
}
.related-product h1{   
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 27px;
}

/* End Product Detail Style */